.card__trash {
  cursor: pointer;
  width: 18px;
  height: 19px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/trash.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 20px;
  right: 20px;
  outline: none;
  display: none;
}
